{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load static %}

<!doctype html>
<html lang="de" data-bs-theme="dark">
 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% bootstrap_css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" crossorigin="anonymous" integrity="sha384-CK2SzKma4jA5H/MXDUU7i1TqZlCFaD4T01vtyDFvPlD97JQyS+IsSh1nI2EFbpyk" />
  <title>Infomonitor</title>
 </head>
 <body>
  <div class="container-fluid">
   <div class="row py-3">
    <div class="col-12 col-lg-6 col-xxl-8 mt-auto">
     <div id="announce"></div>
    </div>
    <div class="col-12 col-lg-6 col-xxl-4">
     <div class="text-end text-nowrap" style="font-size:4rem;">
      <span class="fw-light" id="zeit_date"></span>
      <span class="fw-bold"><span id="zeit_hour"></span>:<span id="zeit_minute"></span></span>
      <span class="fw-light" id="zeit_month"></span>
      <span class="fw-light" id="zeit_year"></span>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="col-3">
     <h1>{% bs_icon 'calendar-date' size='1em' %} Termine</h1>
     <div class="card mt-3">
      <ul class="list-group list-group-flush" id="termine_list"></ul>
     </div>
    </div>
    <div class="col-3">
     <h1>{% bs_icon 'gear-wide-connected' size='1em' %} Material</h1>
     <div class="card mt-3">
      <ul class="list-group list-group-flush" id="stein_list"></ul>
     </div>
    </div>
    <div class="col-3">
     <h1>{% bs_icon 'bar-chart-fill' size='1em' %} Umfragen</h1>
     <div class="card mt-3">
      <ul class="list-group list-group-flush" id="polls_list"></ul>
     </div>
     <div class="text-center">
      <img src="{% static 'monitor/qrcode-polls.svg' %}" class="w-75" />
     </div>
    </div>
    <div class="col-3">
     <h1>{% bs_icon 'clock-fill' size='1em' %} Belegung</h1>
     <div id="reservierung_container">
     </div>
    </div>
   </div>
  </div>

  <div id="loading" style="background-color:rgba(255,255,255,0.5); position:fixed; left:0; top:0; right:0; bottom:0; z-index:99; width:100%; height:100%; display:table;">
   <div style="display:table-cell; vertical-align:middle; text-align:center;">
    <div class="spinner-border" style="width:10em; height:10em;"></div>
   </div>
  </div>

  {% bootstrap_javascript %}
  <script crossorigin="anonymous" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  {{ data_url|json_script:"data_url" }}
<script type="text/javascript">
const data_url = JSON.parse(document.getElementById("data_url").textContent);
// set to false during debugging
var update = true;

// Update Taktische Zeit
setInterval(function() {
	var date = new Date();
	$("#zeit_date").text(date.getDate().toString().padStart(2, "0"));
	$("#zeit_hour").text(date.getHours().toString().padStart(2, "0"));
	$("#zeit_minute").text(date.getMinutes().toString().padStart(2, "0"));
	$("#zeit_month").text(["jan", "feb", "mar", "apr", "mai", "jun", "jul", "aug", "sep", "okt", "nov", "dez"][date.getMonth()]);
	$("#zeit_year").text((date.getFullYear() % 100).toString().padStart(2, "0"));
}, 500);

function renderAnnounce(data) {
	$("#announce").empty().append(data.map((announce) => $("<div>").addClass(["fs-4", "alert", "alert-" + announce.style]).text(announce.message)));
}

function renderTermine(data) {
	$("#termine_list").empty().append(data.map((entry) => $("<li>").addClass("list-group-item").append([
		$("<span>").addClass(["fs-4", "d-block"]).text(entry.summary),
		$("<span>").addClass(["fs-6", "d-block"]).append([
			entry.timerange.indexOf(" - ") < 0 ? "am " : "von ",
			$("<strong>").text(entry.timerange),
		]).append(entry.location == "" ? [] : [
			" in ",
			$("<strong>").text(entry.location),
		]),
		$("<span>").text(entry.comment),
		$("<div>").addClass("text-end").append(entry.categories.map((category_item) => $("<span>").addClass(["fs-6", "badge"]).css("background-color", category_item.color).text(category_item.label))),
	])));

	if (data.length == 0) {
		$("#termine_list").append($("<li>").addClass("list-group-item").append([
			$("<span>").addClass(["fs-4", "d-block"]).text("Keine anstehenden Termine"),
		]));
	}
}

function renderStein(data) {
	$("#stein_list").empty().append(data.map((entry) => $("<li>").addClass("list-group-item").append([
		$("<span>").addClass(["fs-4", "d-block"]).text(entry.label + " (" + entry.category + ")"),
		$("<span>").addClass(["fs-6", "badge", "bg-" + entry.status_color, "float-end"]).text(entry.status_label),
		$("<span>").text(entry.comment),
	])));

	if (data.length == 0) {
		$("#stein_list").append($("<li>").addClass("list-group-item").append([
			$("<span>").addClass(["fs-4", "d-block"]).text("Alle Fahrzeuge"),
			$("<span>").addClass(["fs-6", "badge", "bg-success", "float-end"]).text("Einsatzbereit"),
		]));
	}
}

function renderPolls(data) {
	$("#polls_list").empty().append(data.map((entry) => $("<li>").addClass("list-group-item").append([
		$("<span>").addClass(["fs-4", "d-block"]).text(entry.title),
		$("<span>").addClass(["fs-6", "d-block"]).append([
			"von ",
			$("<strong>").text(entry.owner),
		]).append(entry.expire == null ? [] : [
			$("<strong>").text(" " + entry.expire.label).toggleClass("text-danger", entry.expire.seconds < 7*24*60*60),
		]),
		$("<div>").addClass("text-end").css({"marginBottom": "-0.25rem", "marginRight": "-0.25rem"}).append(entry.groups.map((group_item) => $("<span>").addClass(["fs-6", "badge", "me-1", "mb-1"]).css("background-color", group_item.color).text(group_item.label))),
	])));

	if (data.length == 0) {
		$("#polls_list").append($("<li>").addClass("list-group-item").append([
			$("<span>").addClass(["fs-4", "d-block"]).text("Keine offenen Umfragen"),
		]));
	}
}

function renderReservierung(data) {
	$("#reservierung_container").empty().append(data.map((entries) => $("<div>").addClass(["card", "mt-3"]).append(
		$("<ul>").addClass(["list-group", "list-group-flush"]).append(entries.map((entry) => $("<li>").addClass("list-group-item").append([
			$("<span>").addClass(["fs-5", "badge", entry.blocked ? "bg-danger" : "bg-success", "float-end"]).text((entry.blocked ? "Belegt" : "Frei") + " " + entry.until),
			$("<span>").addClass(["fs-4", "d-block"]).text(entry.resource),
			$("<span>").text(entry.usage_label),
		])))
	)));
}

function render(data) {
	renderAnnounce(data.announce);
	renderTermine(data.termine);
	renderStein(data.stein);
	renderPolls(data.polls);
	renderReservierung(data.reservierung);
}

function refresh() {
	if (!update) {
		setTimeout(refresh, 30000);
		return;
	}

	$.ajax({
		"url": data_url,
		"cache": false,
		"success": function (data) {
			$("#loading").hide();
			render(data);
		},
		"error": function () {
			$("#loading").show();
		},
		"complete": function (jqXHR, status) {
			setTimeout(refresh, status == "success" ? 30000 : 10000);
		},
	});
}

$(function () {
	refresh();
});
</script>
 </body>
</html>
