django==6.0
psycopg2==2.9.11
requests==2.32.5
pyjwt[crypto]==2.10.1
django-bootstrap5==25.3
crispy-bootstrap5==2025.6
django_bootstrap_icons==0.9.0
django-polymorphic==4.5.1
pycryptodome==3.23.0
pillow==12.0.0
django-mathfilters==1.0.0
django-markdownx==4.0.9
django-object-actions==5.0.0
caldav==2.2.3
icalendar==6.3.2
granian==2.6.0
# required for django-polymorphic
setuptools==80.9.0
