django==5.0.4
psycopg2==2.9.9
requests==2.31.0
pyjwt[crypto]==2.8.0
django-bootstrap5==24.2
crispy-bootstrap5==2024.2
django_bootstrap_icons==0.8.7
django-polymorphic==3.1.0
pycryptodome==3.20.0
pillow==11.0.0
django-mathfilters==1.0.0
django-markdownx==4.0.7
# required for django-polymorphic
setuptools==75.6.0
