django==5.1.6
psycopg2==2.9.10
requests==2.32.3
pyjwt[crypto]==2.10.1
django-bootstrap5==24.3
crispy-bootstrap5==2024.10
django_bootstrap_icons==0.9.0
django-polymorphic==3.1.0
pycryptodome==3.21.0
pillow==11.1.0
django-mathfilters==1.0.0
django-markdownx==4.0.7
django-object-actions==4.3.0
# required for django-polymorphic
setuptools==75.8.0
