{% extends "abfrage/base.html" %}

{% load static %}

{% block title %}Ressourcen{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
 <ol class="breadcrumb">
  {% include "reservierung/_breadcrumb_resource.html" with object=object last=True %}
 </ol>
</nav>

<div class="alert alert-info">
 <p>Du findest hier eine Übersicht über alle angelegten Ressourcen in ihrer Hierarchie. Für eine
  schnelle Übersicht kannst du dir die Belegungen für einen beliebigen Tag anzeigen lassen.</p>

 <p>Die Belegung wird als Balken angezeigt, die den ausgewählten Tag repräsentieren. Die jeweiligen
  Farben zeigen die Verfügbarkeit an: Grün heißt die Ressource ist frei, Orange zeigt an dass nur
  ein Teil der Ressource belegt ist und rot zeigt an dass bereits eine Buchung für die Ressource
  eingetragen ist.</p>

 <p>Ein schraffierter Balken zeigt an, dass die entsprechenden Buchungen noch nicht bestätigt
  wurden. Eine Buchung einer übergeordneten Ressource beinhaltet somit alle untergeordneten
  Ressourcen.</p>

 <p>Für weitere Informationen zu den Ressourcen (z.B. dem Ablauf für eine Buchungsfreigabe) oder
  einer Buchungsmöglichkeit wähle eine Ressource aus.</p>
</div>

<div class="d-none d-sm-block">
 <div class="row">
  <div class="ms-auto col-md-auto">
   <div class="input-group mb-2">
    <span class="input-group-text">Verfügbarkeitsanzeige:</span>
    <input type="date" class="form-control" id="avail_date" value="{% now 'Y-m-d' %}" />
   </div>
  </div>
 </div>
</div>

<table id="resources" class="table table-striped">
<thead>
<tr>
 <th style="width:20em;" scope="col">Name</th>
 <th scope="col" class="d-none d-sm-table-cell">Verfügbarkeit</th>
</tr>
</thead>
<tbody>
{% for resource, is_manager, is_admin, depth, child_count in resources %}
 <tr>
  <th scope="row">
   <span style="padding-left:{{ depth }}em;">
    <a class="{% if not resource.selectable %}fw-normal{% endif %}" href="{{ resource.get_absolute_url }}" id="resourceLabel_{{ resource.pk }}">{{ resource.label }}</a>
    {% if is_manager %}
     <span class="badge bg-primary">Verwaltet</span>
    {% endif %}
    {% if is_admin %}
     <span class="badge bg-danger">Administriert</span>
    {% endif %}
   </span>
  </th>
  <td class="d-none d-sm-table-cell">
   <div class="progress usage_bar" id="usage_bar_{{ resource.pk }}"></div>
  </td>
 </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}

{% block script %}
<script src="{% static 'reservierung/resource_availability.js' %}"></script>
<script type="text/javascript">

$(function () {
	var updater = new ResourceAvailabilityUpdater({
		usages_json: "{% url 'reservierung:usages_json' %}",
		csrfmiddlewaretoken: "{{ csrf_token }}",
	});

	var avail_date = $("#avail_date");

	function _check() {
		updater.update(avail_date.val() + "T00:00", avail_date.val() + "T23:59");
	}

	_check();
	avail_date.change(_check);
});
</script>
{% endblock %}
