{% extends "reservierung/base_list.html" %}

{% load timerange %}
{% load highlighter %}

{% block title %}Termine{% endblock %}

{% block breadcrumb %}
 <li class="breadcrumb-item active" aria-current="page">Termine</li>
{% endblock %}

{% block buttons %}
 <a href="{% url "reservierung:termin_create" %}" class="btn btn-success">Neuen Termin erstellen</a>
{% endblock %}

{% block intro %}
<p class="alert alert-info" role="alert">
 <strong>Tipp:</strong> Die Terminliste bietet diverse Filteroptionen, damit du nur passende Termine findest.
 Du kannst den Zeitbereich einschränken, nach Freitext suchen (wobei mehrere Suchworte durch Leerzeichen
 getrennt werden können) und vorgefertigte Filter aktivieren: Wenn der Filter grün hinterlegt ist, werden nur
 auf ihn zutreffende Termine angezeigt. Ist der Filter rot hinterlegt, werden nur <strong>nicht</strong> auf
 ihn zutreffende Termine angezeigt. Ist der Filter ausgegraut, wird er für die aktuelle Ansicht nicht
 angewendet. Durch einen Klick auf den Filter wird durch die verschiedenen Auswahlmöglichkeiten rotiert.
</p>
{% endblock %}

{% block thead %}
 <th scope="col">Termin</th>
 <th scope="col" class="d-none d-sm-table-cell">Zeitraum</th>
 <th scope="col" class="d-none d-md-table-cell">Person</th>
 <th scope="col" class="d-none d-lg-table-cell">Ressourcen</th>
{% endblock %}

{% block item %}
 <th scope="row"><a href="{{ object.termin.get_absolute_url }}">{{ object.termin.label|highlighter:search_words }}</a></td>
 <td class="d-none d-sm-table-cell">{{ object.termin.start|timerange:object.termin.end }}</td>
 <td class="d-none d-md-table-cell">{{ object.termin.owner|highlighter:search_words }}</td>
 <td class="d-none d-lg-table-cell">
  {% for usage in object.usages %}
   {% include "reservierung/_resourceusage_state_badge.html" with state=usage.state label=usage.resource.label %}
  {% endfor %}
 </td>
{% endblock %}

{% block empty %}
 <th colspan="4">(Keine Einträge)</th>
{% endblock %}
