{% extends "abfrage/base.html" %}
{% load mathfilters %}

{% block title %}Überweisungsübersicht{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
 <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url "unterweisung:start" %}">Unterweisungen</a></li>
  <li class="breadcrumb-item active" aria-current="page">Übersicht</li>
 </ol>
</nav>

<p>Mit der Unterschrift bestätige ich, die Unterweisung alleine bearbeitet und vollständig
 verstanden zu haben.</p>

<table class="table table-striped">
<thead>
 <tr>
  <th scope="col">Helfer*in</th>
  {% for unterweisung in unterweisungen %}
  <th scope="col">{{ unterweisung.short_label }}</th>
  {% endfor %}
  <th scope="col" style="min-width:10em;">Unterschrift</th>
 </tr>
</thead>
<tbody>
 {% for username, data in personen %}
 <tr>
  <th scope="row">
   {% if data.namen|length > 0 %}{{ data.namen|join:" / " }}{% else %}{{ username }}{% endif %}
  </th>
  {% for teilnahme in data.teilnahmen %}
  <td>
   {% if teilnahme.1 is False %}
    <span class="badge bg-danger">Offen</span>
   {% elif teilnahme.1 is None %}
    <em>-</em>
   {% else %}
    {{ teilnahme.1|linebreaksbr }}
   {% endif %}
  </td>
  {% endfor %}
  <td>&nbsp;</td>
 </tr>
 {% endfor %}
</tbody>
</table>

<style type="text/css">
@media print {
	h1 {display:none;}
	nav {display:none;}
}
</style>
{% endblock %}
