{% extends "abfrage/base.html" %}
{% load mathfilters %}

{% block title %}{{ object.unterweisung.label }}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
 <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url "unterweisung:start" %}">Unterweisungen</a></li>
  <li class="breadcrumb-item"><a href="{% url "unterweisung:unterweisung_detail" pk=object.unterweisung.pk %}">{{ object.unterweisung.label }}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ object.titel }}</li>
 </ol>
</nav>

<h3>{{ object.titel }}</h3>

{% if errors %}
{% for error in errors %}
<p class="alert alert-danger">{{ error }}</p>
{% endfor %}
{% endif %}

<form action="" method="post">
 {% csrf_token %}
{{ inhalt }}

<div class="row">
 <div class="col-sm-4 col-md-5 col-lg-6 col-xxl-7">
  <div class="progress mt-1">
   <div class="progress-bar" role="progressbar" aria-valuenow="{{ seite_nr }}" aria-valuemin="1" aria-valuemax="{{ seite_count }}" style="width:{% widthratio seite_nr seite_count 100 %}%;">&nbsp;</div>
  </div>
  <div class="text-center mt-1 mb-2">Seite {{ seite_nr }} von {{ seite_count }}</div>
 </div>
 <div class="col-sm-8 col-md-7 col-lg-6 col-xxl-5 text-end">
  <div class="btn-group dropup">
   <button type="button" class="btn btn-lg btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Springe zu Seite...
   </button>
   <ul class="dropdown-menu">
    {% for nr, seite, erledigt, _ in seiten %}
     <li><button name="_redirect" value="{{ nr|sub:1 }}" class="dropdown-item {% if seite == object %}active{% elif erledigt %}text-success{% endif %}">{{ seite.titel }}</a></li>
    {% endfor %}
   </ul>
   </div>

  <button type="submit" name="_redirect" value="next" class="btn btn-lg btn-primary">Weiter</button>
 </div>
</div>

</form>

{% endblock %}
