{% load markdownify %}

{% if geloest %}
<p class="alert alert-success">Herzlichen Glückwunsch, du hast die Lernerfolgskontrolle erfolgreich abgeschlossen. Du kannst dir nun die Auswertung anschauen und mit "Weiter" in der Unterweisung fortfahren.</p>
<input type="hidden" name="bestaetigt" value="1" />
{% endif %}
{% if min_richtig > anzahl_required %}
<p>Zum Bestehen müssen insgesamt <strong>{{ min_richtig }} Fragen</strong> richtig beantwortet werden.</p>
{% endif %}
{% for frage in fragen %}
<div class="alert {% if frage.korrekt %}alert-success{% elif geloest %}alert-danger{% else %}alert-secondary{% endif %}">
{% if frage.korrekt %}<span class="float-end badge text-bg-success">Richtig beantwortet</span>
{% elif geloest %}<span class="float-end badge text-bg-danger">Falsch beantwortet</span>{% endif %}
<h5>{{ frage.frage|markdownify_inline }}</h5>
{% if not frage.optional %}
<p>Diese Frage muss zum bestehen <strong>zwingend</strong> richtig beantwortet werden.</p>
{% endif %}
{% for antwort_id, antwort_text, antwort_richtig, antwort_checked in frage.antworten %}
 {% if export %}
  <p class="mb-0">
   <span class="d-inline-block lh-1 fs-5 fw-bold text-center" style="width:2em;">
   {% if frage.richtige_antworten == 1 %}
    {% if antwort_checked %}●{% else %}○{% endif %}
   {% else %}
    {% if antwort_checked %}■{% else %}□{% endif %}
   {% endif %}
   </span>
   {{ antwort_text|markdownify_inline }}
  </p>
 {% else %}
  <div class="form-check">
   <input class="form-check-input" type="{% if frage.richtige_antworten == 1 %}radio{% else %}checkbox{% endif %}" {% if geloest %}onclick="return false;"{% endif %} {% if antwort_checked %}checked="checked"{% endif %} name="frage_{{ frage.pk }}" value="{{ antwort_id }}" id="antwort_{{ antwort_id }}" />
   <label class="form-check-label" for="antwort_{{ antwort_id }}">
    {% if geloest and not frage.korrekt %}
     {% if antwort_richtig == antwort_checked %}
      <span class="badge rounded-pill text-bg-success">Antwort Korrekt</span>
     {% else %}
      <span class="badge rounded-pill text-bg-danger">Antwort Falsch</span>
     {% endif %}
    {% endif %}
    {{ antwort_text|markdownify_inline }}
   </label>
  </div>
 {% endif %}
{% endfor %}
</div>
{% endfor %}

<style type="text/css">
label p {
	margin-bottom: 0;
}
</style>
