{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load static %}

<!doctype html>
<html lang="de">
 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% bootstrap_css %}
  {% block style %}{% endblock %}
  <title>{% block title_head %}{% endblock %}</title>
 </head>
 <body>
  <main role="main" class="mt-2 container">
   <div class="clearfix">
   <div class="float-end mt-2">{% block buttons %}{% endblock %}</div>
   <h1>{% block title_h1 %}{% endblock %}</h1>
   </div>
   {% block content %}{% endblock %}
  </main>

  {% bootstrap_javascript %}
  <script crossorigin="anonymous" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  {% block script %}{% endblock %}
 </body>
</html>
