{% extends "abfrage/base.html" %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}

{% block content %}
{% if object %}
<div class="alert alert-warning">
 Du bist dabei ein bestehendes Menü zu bearbeiten. Um eine vorhandene Option zu löschen musst du nur ihren Namen löschen. Bedenke dabei, dass damit auch alle Anmeldungen für diese Option verloren gehen.
 Anderenfalls bleiben auch bei veränderten Optionen die Anmeldungen gespeichert.
</div>
{% endif %}

<form method="post">{% csrf_token %}
 <h4>Einstellungen</h4>
 {{ form | crispy }}
 <h4>Gerichte</h4>
 <div id="servings" class="container">
 </div>
 <button type="submit" class="btn-success btn">{% if object %}Änderungen speichern{% else %}Anlegen{% endif %}</button>
</form>
{% endblock %}

{% block script %}
{{ icons | json_script:"py_icons" }}
{% if object %}
{{ servings | json_script:"py_servings" }}
{% endif %}
<script type="text/javascript">

function _getStartServings() {
	if (document.getElementById('py_servings')) {
		return JSON.parse(document.getElementById('py_servings').textContent);
	}
	return [];
}

const icons = JSON.parse(document.getElementById('py_icons').textContent);
const start_servings = _getStartServings();

function addServing(serving) {
	var background_label = "";
	if (! serving) {
		serving = {"pk": "new" + $("#servings").find(".row").length, "label": "", "icon": icons[0][0]};
		{% if object %}background_label = "bg-secondary";{% endif %}
	}

	$("#servings").append(
		$("<div>").addClass(["row", "my-2", "py-2", background_label]).data("serving", serving).append([
			$("<div>").addClass(["col-4", "col-md-2"]).append(
				$("<select>")
					.addClass("form-select").attr("name", "serving-" + serving.pk + "-icon")
					.append(icons.map((icon) => $("<option>").attr("value", icon[0]).text(icon[1])))
					.on("change", checkServings)
					.val(serving.icon)
			),
			$("<div>").addClass(["col-8", "col-md-10"]).append(
				$("<input>")
					.addClass("form-control").attr("name", "serving-" + serving.pk + "-label")
					.on("keyup", checkServings)
					.val(serving.label)
			)
		])
	);
}

function checkServings() {
	var emptyNewRows = 0;
	$("#servings").find(".row").each(function (i, item) {
		var rowColor = "";
		var isNew = ("" + $(item).data("serving").pk).substring(0,3) == "new";
		if ($(item).find("input").val() == "") {
			// This line will be ignored or deleted
			if (isNew) {
				rowColor = "secondary";
				emptyNewRows += 1;
			} else {
				rowColor = "danger";
			}
		} else if (isNew) {
			// This line will be added
			rowColor = "success";
		} else if ($(item).data("serving").icon != $(item).find("select").val() || $(item).data("serving").label != $(item).find("input").val()) {
			// This line is about to be changed
			rowColor = "warning";
		}

		{% if not object %}return;{% endif %}

		$(item).toggleClass("bg-success", rowColor == "success");
		$(item).toggleClass("bg-secondary", rowColor == "secondary");
		$(item).toggleClass("bg-danger", rowColor == "danger");
		$(item).toggleClass("bg-warning", rowColor == "warning");
	});

	if (emptyNewRows <= 0) {
		addServing();
	}
}

$(function () {
	for (const serving of start_servings) {
		addServing(serving);
	}
	checkServings();
});

</script>
{% endblock %}
