{% extends "abfrage/base.html" %}

{% block title %}{{ object.label }}{% endblock %}

{% block buttons %}
{% if is_admin %}
 <a class="btn btn-warning" href="{% url 'abfrage:menu_update' object.pk %}">Bearbeiten</a>
 <a class="btn btn-danger" href="{% url 'abfrage:menu_delete' object.pk %}">Löschen</a>
{% endif %}
{% endblock %}

{% block content %}

{% if is_redirected %}
 <div class="alert alert-info">Aktuell ist nur eine Abfrage offen, daher wurdest du direkt zu dieser weitergeleitet. Falls du eine neue Abfrage starten willst, folge <a href="{% url 'abfrage:menu_create' %}">diesem</a> Link.</div>
{% endif %}

{% if changed %}
 <div class="alert alert-success">Deine Anmeldung wurde gespeichert!</div>
{% endif %}

{% if error_message %}
 <div class="alert alert-danger">{{ error_message }}</div>
{% endif %}

{% if object.is_open %}
<p>
 Hier kannst du für das oben genannte Menü bestellen. Deine Bestellung wird automatisch mit deinem Anmeldenamen verknüpft.
 Bitte trage die gewünschte Anzahl an Essen ein. Über die Buttons <em>+</em> bzw. <em>-</em> kannst du die Zahl je um eins erhöhen bzw. verringern.
 Anschließend musst du deine Änderungen mit dem Button "Speichern" sichern.
</p>
{% endif %}

<form action="" method="post">{% csrf_token %}
<div class="table-responsive">
<table class="table table-striped">
<thead>
<tr>
 <th scope="row" style="width:70%">Essen</th>
 <th scope="row" style="width:30%" class="d-lg-none">Bestellung</th>
</tr>
</thead>
<tbody>
{% for serving in servings %}
<tr>
 <th scope="col">
  <div style="width:3em; height:3em;" class="float-start d-inline-block me-2">{% include "abfrage/_menu_icon.html" with icon=serving.obj.icon %}</div>
  {{ serving.obj.label }}
 </th>
 <td style="min-width:8em;">
  {% if object.is_open %}
  <div class="input-group flex-nowrap">
   <button type="button" class="btn btn-outline-danger decrease">-</button>
   <input type="number" class="form-control text-end value" min="0" name="{{ serving.obj.pk }}" value="{{ serving.own }}" />
   <button type="button" class="btn btn-outline-success increase">+</button>
  </div>
  {% else %}
  <div class="text-end">Eigene: <strong>{{ serving.own }}</strong></div>
  {% endif %}
  <div class="text-end">Gesamt: {{ serving.total }}</div>
 </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% if object.is_open %}<div class="text-end"><input type="submit" value="Speichern" class="btn btn-success" /></div>{% endif %}
</form>

<h3>Alle Anmeldungen</h3>

<table class="table table-striped">
<thead>
 <tr>
  <td>&nbsp;</td>
  {% for serving in servings %}
   <th scope="col">
    <span class="float-end" style="width:1.5em;">{% include "abfrage/_menu_icon.html" with icon=serving.obj.icon %}</span>
    {{ serving.obj.label }}
   </th>
  {% endfor %}
 </tr>
</thead>
<tbody>
 {% for user in all_users %}
 <tr>
  <th scope="row">{{ user.displayName }}</th>
  {% for count in user.servings %}
   <td class="text-center">{% if count == 0 %}&nbsp;{% else %}{{ count }}{% endif %}</td>
  {% endfor %}
 </tr>
 {% endfor %}
</tbody>
<tfoot>
 <tr>
  <th scope="row">Gesamt</th>
  {% for serving in servings %}
   <td class="text-center">{{ serving.total }}</td>
  {% endfor %}
 </tr>
</tfoot>
</table>
{% endblock %}

{% block script %}
<script type="text/javascript">

$(function () {
	$(".decrease").click(function () {
		var value = $(this).parent().find(".value").val();
		$(this).parent().find(".value").val(Math.max(0, parseInt(value - 1)));
	});
	$(".increase").click(function () {
		var value = $(this).parent().find(".value").val();
		$(this).parent().find(".value").val(parseInt(value) + 1);
	});
});

</script>
{% endblock %}
