{% extends "abfrage/base.html" %}

{% block title %}{{ object.label }}{% endblock %}

{% block content %}

<div class="clearfix">
{% if changed %}
<div class="alert alert-success">Deine Anmeldung wurde gespeichert!</div>
{% endif %}
{% if is_admin %}
<div class="float-end">
 <a class="btn btn-danger" href="{% url 'abfrage:menu_delete' object.pk %}">Löschen</a>
</div>
{% endif %}
</div>

<form action="" method="post">{% csrf_token %}
<table class="table table-striped">
<thead>
 <tr>
  <td>&nbsp;</td>
  {% for serving in servings %}
   <th scope="col">{{ serving.obj.label }}</th>
  {% endfor %}
 </tr>
 <tr>
  <td><input type="submit" class="btn btn-sm btn-success" value="Speichern" /></td>
  {% for serving in servings %}
   <td><input type="number" class="form-control" min="0" name="{{ serving.obj.pk }}" value="{{ serving.own }}" /></td>
  {% endfor %}
 </tr>
</thead>
<tbody>
 {% for customer in others %}
 <tr>
  <th scope="row">{{ customer.displayName }}</th>
  {% for count in customer.servings %}
   <td class="text-end">{{ count }}</td>
  {% endfor %}
 </tr>
 {% endfor %}
</tbody>
<tfoot>
 <tr>
  <th scope="row">Gesamt</th>
  {% for serving in servings %}
   <td class="text-end">{{ serving.total }}</td>
  {% endfor %}
 </tr>
</tfoot>
</table>
</form>

{% endblock %}
