{% extends "abfrage/base.html" %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}

{% block content %}
<form method="post">{% csrf_token %}
 <h4>Einstellungen</h4>
 {{ form | crispy }}
 {% if not object %}
 <h4>Gerichte</h4>
 <div id="servings" class="container">
 </div>
 {% endif %}
 <button type="submit" class="btn-success btn">{% if object %}Bearbeiten{% else %}Anlegen{% endif %}</button>
</form>
{% endblock %}

{% block script %}
{{ icons | json_script:"py_icons" }}
<script type="text/javascript">

const icons = JSON.parse(document.getElementById('py_icons').textContent);

function addServing() {
	var i = $("#servings").find(".row").length;
	$("#servings").append(
		$("<div>").addClass(["row", "mb-3"]).append([
			$("<div>").addClass(["col-4", "col-md-2"]).append(
				$("<select>")
					.addClass("form-select").attr("name", "serving-" + i + "-icon")
					.append(icons.map((icon) => $("<option>").attr("value", icon[0]).text(icon[1])))
			),
			$("<div>").addClass(["col-8", "col-md-10"]).append(
				$("<input>")
					.addClass("form-control").attr("name", "serving-" + i + "-label")
					.on("keyup", checkServings)
			)
		])
	);
}

function checkServings() {
	if ($("#servings").length === 0) {
		return;
	}

	if ($("#servings").find(".row input").filter((i, item) => $(item).val() === "").length <= 0) {
		addServing();
	}
}

$(function () {
	checkServings();
});

</script>
{% endblock %}
