{% extends "abfrage/base.html" %}

{% block title %}{{ object.label }}{% endblock %}

{% block buttons %}
 <a class="btn btn-warning" href="{% url 'abfrage:menu_update' object.pk %}">Bearbeiten</a>
 <a class="btn btn-danger" href="{% url 'abfrage:menu_delete' object.pk %}">Löschen</a>
{% endblock %}

{% block content %}

{% if changed %}
 <div class="alert alert-success">Deine Anmeldung wurde gespeichert!</div>
{% endif %}

<form action="" method="post">{% csrf_token %}
<table class="table table-striped">
<thead>
 <tr>
  <td>&nbsp;</td>
  {% for serving in servings %}
   <th scope="col">
    <span class="float-end" style="width:1.5em;">{% include "abfrage/_menu_icon.html" with icon=serving.obj.icon %}</span>
    {{ serving.obj.label }}
   </th>
  {% endfor %}
 </tr>
{% if object.is_open %}
 <tr>
  <td><input type="submit" class="btn btn-sm btn-success" value="Speichern" /></td>
  {% for serving in servings %}
   <td><input type="number" class="form-control text-end" min="0" name="{{ serving.obj.pk }}" value="{{ serving.own }}" /></td>
  {% endfor %}
 </tr>
{% else %}
 <tr>
  <td>{{ userdata.displayName }}</td>
  {% for serving in servings %}
   <td class="text-end">{{ serving.obj.pk }}</td>
  {% endfor %}
 </tr>
{% endif %}
</thead>
<tbody>
 {% for customer in others %}
 <tr>
  <th scope="row">{{ customer.displayName }}</th>
  {% for count in customer.servings %}
   <td class="text-end">{{ count }}</td>
  {% endfor %}
 </tr>
 {% endfor %}
</tbody>
<tfoot>
 <tr>
  <th scope="row">Gesamt</th>
  {% for serving in servings %}
   <td class="text-end">{{ serving.total }}</td>
  {% endfor %}
 </tr>
</tfoot>
</table>
</form>

{% endblock %}
