{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label="unterweisung" %}">Unterweisung</a>
&rsaquo; <a href="{% url 'admin:unterweisung_teilnehmer_changelist' %}">Teilnehmer</a>
&rsaquo; Links für Unterführer*innen
</div>
{% endblock %}

{% block content %}
<p>Die hier gezeigten Links können per Rechtsklick mit "Link kopieren" kopiert werden. Sie sind 60 Tage gültig, anschließend müssen neue Links ausgegeben werden.</p>

<ul>
{% for gruppe, url in gruppen %}
<li><a href="{{ url }}">{{ gruppe|default:"(Ohne Gruppenzuordnung)" }}</a></li>
{% endfor %}
</ul>
{% endblock %}
