{% extends "abfrage/base.html" %}
{% load mathfilters %}

{% block title %}Unterweisungsübersicht{% endblock %}

{% block script %}
{% if abgeschlossen_events %}
<script src="https://d3js.org/d3.v4.js"></script>
<script type="text/javascript">

const abgeschlossen_events = JSON.parse(document.getElementById('abgeschlossen_events').textContent);
const total_teilnehmer = JSON.parse(document.getElementById('total_teilnehmer').textContent);

var current_part = 0;
var current_done = 0;

const groups = ["part", "done"];
var values = [];

for (const event of abgeschlossen_events) {
	current_part += event[1];
	current_done += event[2];
	values.push({timestamp: new Date(event[0]), part: current_part, done: current_done});
}

// Colors
const color = d3.scaleOrdinal()
    .domain(groups)
    .range(["#0dcaf0", "#0d6efd"])

// Declare the chart dimensions and margins.
const width = 800;
const height = 600;
const marginTop = 20;
const marginRight = 20;
const marginBottom = 20;
const marginLeft = 30;

const start = values[0].timestamp;
const end = values[values.length - 1].timestamp;

// Declare the x (horizontal position) scale.
const x = d3.scaleUtc()
    .domain(d3.extent(values, function(d) { return d.timestamp; }))
    .range([marginLeft, width - marginRight]);

// Declare the y (vertical position) scale.
const y = d3.scaleLinear()
    .domain([0, total_teilnehmer])
    .range([height - marginBottom, marginTop]);

// Create the SVG container.
const svg = d3.create("svg")
    .attr("width", width)
    .attr("height", height);

// Add the x-axis.
var xAxis = svg.append("g")
    .attr("transform", `translate(0,${height - marginBottom})`)
    .call(d3.axisBottom(x));

// Add the y-axis.
svg.append("g")
    .attr("transform", `translate(${marginLeft},0)`)
    .call(d3.axisLeft(y));

// Add a clipPath: everything out of this area won't be drawn.
var clip = svg.append("defs").append("svg:clipPath")
    .attr("id", "clip")
    .append("svg:rect")
    .attr("width", width)
    .attr("height", height)
    .attr("x", 0)
    .attr("y", 0);

// Add brushing
var brush = d3.brushX()
    .extent( [ [0,0], [width,height] ] )
    .on("end", updateChart)

var area = svg.append("g")
    .attr("clip-path", "url(#clip)");

var areaGenerator = d3.area()
    .x(d => x(d.timestamp))
    .y0(d => y(d.done))
    .y1(d => y(d.done + d.part))

// Add data
svg.append("path")
    .datum(values)
    .attr("class", "myArea")
    .attr("fill", "#0dcaf0")
    .attr("d", areaGenerator);

// A function that set idleTimeOut to null
var idleTimeout
function idled() { idleTimeout = null; }

// A function that update the chart for given boundaries
function updateChart() {
	// What are the selected boundaries?
	extent = d3.event.selection

	// If no selection, back to initial coordinate. Otherwise, update X axis domain
      	if (!extent) {
		if (! idleTimeout)
			return idleTimeout = setTimeout(idled, 350); // This allows to wait a little bit
		x.domain([ 4,8])
	} else {
		x.domain([ x.invert(extent[0]), x.invert(extent[1]) ])
		area.select(".brush").call(brush.move, null) // This remove the grey brush area as soon as the selection has been done
	}

	// Update axis and area position
	xAxis.transition().duration(1000).call(d3.axisBottom(x))
	area
		.select('.myArea')
		.transition()
		.duration(1000)
		.attr("d", areaGenerator)
}

// If user double click, reinitialize the chart
svg.on("dblclick", function() {
	x.domain(d3.extent(values, function(d) { return d.timestamp; }))
	xAxis.transition().call(d3.axisBottom(x))
	area
	    .select('.myArea')
	    .transition()
	    .attr("d", areaGenerator)
});

// Append the SVG element.
$("#container").empty().append(svg.node());

</script>
{% endif %}
{% endblock %}

{% block content %}
<ul class="nav nav-tabs mb-2">
 <li class="nav-item">
  <a class="nav-link {% if "include_stats" in request.GET %}active{% endif %}" href="?include_stats">Statistiken</a>
 </li>
 <li class="nav-item">
  <a class="nav-link {% if "abgeschlossen_chart" in request.GET %}active{% endif %}" href="?abgeschlossen_chart">Verlaufgrafik</a>
 </li>
 <li class="nav-item">
  <a class="nav-link {% if "include_stats" not in request.GET and "abgeschlossen_chart" not in request.GET %}active{% endif %}" href="?">Ausdruck</a>
 </li>
</ul>

{% if abgeschlossen_events %}

<div id="container"></div>
{{ abgeschlossen_events|json_script:"abgeschlossen_events" }}
{{ total_teilnehmer|json_script:"total_teilnehmer" }}

{% else %}

{% if teilnehmer_done and teilnehmer_part and teilnehmer_open and teilnehmer_total %}
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {% widthratio teilnehmer_done teilnehmer_total 100 %}%" aria-valuenow="{{ teilnehmer_done }}" aria-valuemin="0" aria-valuemax="{{ teilnehmer_total }}"></div>
  <div class="progress-bar bg-info" role="progressbar" style="width: {% widthratio teilnehmer_part teilnehmer_total 100 %}%" aria-valuenow="{{ teilnehmer_part }}" aria-valuemin="0" aria-valuemax="{{ teilnehmer_total }}"></div>
</div>
<p>Von <strong>{{ teilnehmer_total }}</strong> Helfer*innen insgesamt haben <strong>{{ teilnehmer_done }}</strong> alle Unterweisungen abgeschlossen, <strong>{{ teilnehmer_part }}</strong> weitere haben zumindest eine Unterweisung abgeschlossen und <strong>{{ teilnehmer_open }}</strong> Helfer*innen haben noch keine Unterweisung begonnen.</p>
{% endif %}

{% for gruppe, personen, quantiles, gruppe_teilnehmer_open, gruppe_teilnehmer_part, gruppe_teilnehmer_done, gruppe_teilnehmer_total in gruppen %}
{% if personen %}
<div style="break-after:page;">
{% if gruppe or gruppen|length > 1 %}
<h3>{{ gruppe|default:"Ohne Gruppe" }}</h3>
{% endif %}

{% if gruppe_teilnehmer_open is not None and gruppe_teilnehmer_done is not None and gruppe_teilnehmer_total is not None %}
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {% widthratio gruppe_teilnehmer_done gruppe_teilnehmer_total 100 %}%" aria-valuenow="{{ gruppe_teilnehmer_done }}" aria-valuemin="0" aria-valuemax="{{ gruppe_teilnehmer_total }}"></div>
  <div class="progress-bar bg-info" role="progressbar" style="width: {% widthratio gruppe_teilnehmer_part gruppe_teilnehmer_total 100 %}%" aria-valuenow="{{ gruppe_teilnehmer_part }}" aria-valuemin="0" aria-valuemax="{{ gruppe_teilnehmer_total }}"></div>
</div>
<p>Von <strong>{{ gruppe_teilnehmer_total }}</strong> Helfer*innen in der Gruppe haben <strong>{{ gruppe_teilnehmer_done }}</strong> alle Unterweisungen abgeschlossen, <strong>{{ gruppe_teilnehmer_part }}</strong> weitere haben zumindest eine Unterweisung abgeschlossen.</p>
{% endif %}

<table class="table table-striped">
<thead>
{% if "include_stats" not in request.GET %}
 <tr>
  <td colspan="{{ unterweisungen|length|add:2 }}">
   Mit der Unterschrift bestätige ich, die Unterweisung alleine bearbeitet und vollständig
   verstanden zu haben.
  </td>
 </tr>
{% endif %}
 <tr>
  <th scope="col" style="min-width:10em;">Helfer*in</th>
  {% for unterweisung in unterweisungen %}
  <th scope="col">{{ unterweisung.short_label }}</th>
  {% endfor %}
  {% if "include_stats" not in request.GET %}
  <th scope="col" style="min-width:10em;">Datum und Unterschrift</th>
  {% endif %}
 </tr>
</thead>
<tbody>
 {% for teilnehmer, data in personen %}
 <tr style="break-inside:avoid;">
  <th scope="row">
   {{ teilnehmer }}
  </th>
  {% for teilnahme in data.teilnahmen %}
  <td>
   {% if teilnahme.0 is False %}
    <span class="badge bg-danger">Offen</span>
   {% elif teilnahme.0 is None %}
    <em>-</em>
   {% else %}
    {{ teilnahme.0|linebreaksbr }}
   {% endif %}
   {% if quantiles and teilnahme.1 %}
    <br />
    {% widthratio teilnahme.1 60 1 as duration_minutes %}
    <em>{{ duration_minutes|floatformat:1 }}min</em>
   {% endif %}
  </td>
  {% endfor %}
  {% if "include_stats" not in request.GET %}
  <td>&nbsp;</td>
  {% endif %}
 </tr>
 {% endfor %}
</tbody>
{% if quantiles %}
<tfoot>
 <tr>
  <th scope="row">Median-Dauer</th>
  {% for quantile in quantiles %}
  <td>
   {% if quantile is None %}
    <em>-</em>
   {% else %}
    {% widthratio quantile.median 60 1 as median_minutes %}
    {{ median_minutes|floatformat:1 }}min
   {% endif %}
  </td>
  {% endfor %}
 </tr>
</tfoot>
{% endif %}
</table>
</div>
{% endif %}
{% endfor %}

{% if total_quantiles %}
<h3>Gesamtstatistik</h3>

<table class="table table-striped">
<thead>
 <tr>
  <th scope="col">&nbsp;</th>
  {% for unterweisung in unterweisungen %}
  <th scope="col">{{ unterweisung.short_label }}</th>
  {% endfor %}
 </tr>
</thead>
<tbody>
 <tr>
  <th scope="row">Median</th>
  {% for q in total_quantiles %}
   <td>
   {% if q is None %}
    <em>-</em>
   {% else %}
    {% widthratio q.median 60 1 as median_minutes %}
    {{ median_minutes|floatformat:1 }}min
   {% endif %}
   </td>
  {% endfor %}
 </tr>
</tbody>
</table>
{% endif %}

<style type="text/css">
@media print {
	h1, nav, .nav {display:none;}
}
</style>
{% endif %}
{% endblock %}
