{% extends "abfrage/base.html" %}
{% load mathfilters %}

{% block title %}Unterweisungsübersicht{% endblock %}

{% block content %}
<ul class="nav nav-tabs mb-2">
 <li class="nav-item">
  <a class="nav-link {% if "include_stats" in request.GET %}active{% endif %}" href="?include_stats">Statistiken</a>
 </li>
 <li class="nav-item">
  <a class="nav-link {% if "only_open" in request.GET %}active{% endif %}" href="?only_open">Fehlende</a>
 </li>
 <li class="nav-item">
  <a class="nav-link {% if "include_stats" not in request.GET and "only_open" not in request.GET %}active{% endif %}" href="?">Ausdruck</a>
 </li>
</ul>

{% if teilnahmen_done and teilnahmen_open and teilnahmen_total %}
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {% widthratio teilnahmen_done teilnahmen_total 100 %}%" aria-valuenow="{{ teilnahmen_done }}" aria-valuemin="0" aria-valuemax="{{ teilnahmen_total }}"></div>
</div>
<p>Teilnahmen erledigt: <strong>{{ teilnahmen_done }}</strong>, Teilnahmen offen: <strong>{{ teilnahmen_open }}</strong>, Teilnahmen insgesamt: <strong>{{ teilnahmen_total }}</strong>.</p>
{% endif %}

{% for gruppe, personen, quantiles, teilnehmer_open, teilnehmer_done, teilnehmer_total in gruppen %}
{% if personen %}
<div style="break-after:page;">
{% if gruppe or gruppen|length > 1 %}
<h3>{{ gruppe|default:"Ohne Gruppe" }}</h3>
{% endif %}

{% if teilnehmer_open is not None and teilnehmer_done is not None and teilnehmer_total is not None %}
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {% widthratio teilnehmer_done teilnehmer_total 100 %}%" aria-valuenow="{{ teilnehmer_done }}" aria-valuemin="0" aria-valuemax="{{ teilnehmer_total }}"></div>
</div>
<p>Von <strong>{{ teilnehmer_total }}</strong> Helfer*innen in der Gruppe haben <strong>{{ teilnehmer_done }}</strong> alle Unterweisungen abgeschlossen.</p>
{% endif %}

<table class="table table-striped">
<thead>
{% if "include_stats" not in request.GET and "only_open" not in request.GET %}
 <tr>
  <td colspan="{{ unterweisungen|length|add:2 }}">
   Mit der Unterschrift bestätige ich, die Unterweisung alleine bearbeitet und vollständig
   verstanden zu haben.
  </td>
 </tr>
{% endif %}
 <tr>
  <th scope="col" style="min-width:10em;">Helfer*in</th>
  {% for unterweisung in unterweisungen %}
  <th scope="col">{{ unterweisung.short_label }}</th>
  {% endfor %}
  {% if "include_stats" not in request.GET and "only_open" not in request.GET %}
  <th scope="col" style="min-width:10em;">Unterschrift</th>
  {% endif %}
 </tr>
</thead>
<tbody>
 {% for teilnehmer, data in personen %}
 <tr>
  <th scope="row">
   {{ teilnehmer }}
  </th>
  {% for teilnahme in data.teilnahmen %}
  <td>
   {% if teilnahme.0 is False %}
    <span class="badge bg-danger">Offen</span>
   {% elif teilnahme.0 is None %}
    <em>-</em>
   {% else %}
    {{ teilnahme.0|linebreaksbr }}
   {% endif %}
   {% if quantiles and teilnahme.1 %}
    <br />
    {% widthratio teilnahme.1 60 1 as duration_minutes %}
    <em>{{ duration_minutes|floatformat:1 }}min</em>
   {% endif %}
  </td>
  {% endfor %}
  {% if "include_stats" not in request.GET and "only_open" not in request.GET %}
  <td>&nbsp;</td>
  {% endif %}
 </tr>
 {% endfor %}
</tbody>
{% if quantiles %}
<tfoot>
 <tr>
  <th scope="row">Median-Dauer</th>
  {% for quantile in quantiles %}
  <td>
   {% if quantile is None %}
    <em>-</em>
   {% else %}
    {% widthratio quantile.median 60 1 as median_minutes %}
    {{ median_minutes|floatformat:1 }}min
   {% endif %}
  </td>
  {% endfor %}
 </tr>
</tfoot>
{% endif %}
</table>
</div>
{% endif %}
{% endfor %}

{% if total_quantiles %}
<h3>Gesamtstatistik</h3>

<table class="table table-striped">
<thead>
 <tr>
  <th scope="col">&nbsp;</th>
  {% for unterweisung in unterweisungen %}
  <th scope="col">{{ unterweisung.short_label }}</th>
  {% endfor %}
 </tr>
</thead>
<tbody>
 <tr>
  <th scope="row">Median</th>
  {% for q in total_quantiles %}
   <td>
   {% if q is None %}
    <em>-</em>
   {% else %}
    {% widthratio q.median 60 1 as median_minutes %}
    {{ median_minutes|floatformat:1 }}min
   {% endif %}
   </td>
  {% endfor %}
 </tr>
</tbody>
</table>
{% endif %}

<style type="text/css">
@media print {
	h1, nav, .nav {display:none;}
}
</style>
{% endblock %}
